Repository ansys/pydpf-composites, pull requests merged in 2023-04, with the labels that each got.

#241 Remove the poetry workaround for sphinx theme installation
  .github/workflows/ci_cd.yml
  README.rst
Labels: maintenance

#247 Jvonrick/bump version
  .github/workflows/ci_cd.yml
  README.rst
  poetry.lock
  pyproject.toml
  tests/test_metadata.py
Labels: maintenance

#233 Short fiber example: fiber orientation tensor
  examples/3_short_fiber_example.py
  examples/9_short_fiber_orientation_tensor.py
  poetry.lock
  pyproject.toml
Labels: maintenance

#256 Add info to explain switching of doc versions
  README.rst
  doc/source/index.rst
Labels: documentation

#257 Drop support for Python 3.7
  .github/workflows/ci_cd.yml
  .gitignore
  README.rst
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tox.ini
Labels: maintenance

#265 Update AWP_ROOT_DOCKER variable
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Labels: maintenance

#258 Update pre-commit dependencies, remove code obsolete with Python 3.7 drop
  .pre-commit-config.yaml
  doc/source/conf.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/dpf_composite_failure_workflow.py
  minimum_requirements.txt
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/select_indices.py
  tests/conftest.py
  tests/failure_criteria/combined_failure_criterion_test.py
  tests/failure_criteria/core_failure_test.py
  tests/failure_criteria/cuntze_test.py
  tests/failure_criteria/face_sheet_wrinkling_test.py
  tests/failure_criteria/hashin_test.py
  tests/failure_criteria/hoffman_test.py
  tests/failure_criteria/larc_test.py
  tests/failure_criteria/max_strain_criterion_test.py
  tests/failure_criteria/max_stress_criterion_test.py
  tests/failure_criteria/puck_test.py
  tests/failure_criteria/shear_crimping_test.py
  tests/failure_criteria/tsai_hill_test.py
  tests/failure_criteria/tsai_wu_test.py
  tests/failure_criteria/von_mises_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/material_properties_test.py
  tests/performance_test.py
Labels: documentation, maintenance

#264 Add 'build-wheelhouse' job to CI/CD
  .github/workflows/ci_cd.yml
  .github/workflows/package_cleanup.yml
Labels: maintenance
