Repository ansys/pydpf-composites, pull requests merged in 2023-09, with the labels that each got.

#347 CompositeFiles: convert rst always into a list.
  README.rst
  pyproject.toml
  src/ansys/dpf/composites/data_sources.py
  tests/test_data_sources.py
Labels: bug, enhancement, maintenance

#349 Publish 0.3.1
  README.rst
  doc/source/index.rst
  pyproject.toml
  src/ansys/dpf/composites/data_sources.py
  tests/test_data_sources.py
  tests/test_metadata.py
Labels: documentation, maintenance

#350 Fix broken link, and port changes from 0.3.1 back to develop
  README.rst
  doc/source/index.rst
Labels: documentation, maintenance

#334 Use grouped updates for python dependencies
  .github/dependabot.yml
Labels: maintenance

#353 Feat/exposure of material names
  examples/006_filter_composite_data_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/unit_system.py
  tests/composite_model_test.py
  tests/material_properties_test.py
Labels: enhancement

#355 Feat/material names into v0.3
  README.rst
  doc/source/index.rst
  examples/006_filter_composite_data_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/unit_system.py
  tests/composite_model_test.py
  tests/material_properties_test.py
Labels: documentation, enhancement

#357 set version to 0.3.2
  pyproject.toml
  tests/test_metadata.py
Labels: maintenance
