Repository ansys/pydpf-composites, pull requests merged in 2023-10, with the labels that each got.

#361 Sort composite definition labels before comparing in test.
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
Labels: enhancement

#360 Update supported python versions
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.rst
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/composite_scope.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/failure_criteria/_combined_failure_criterion.py
  src/ansys/dpf/composites/failure_criteria/_failure_criterion_base.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/sampling_point_types.py
  src/ansys/dpf/composites/select_indices.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/conftest.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/result_definition_test.py
  tox.ini
Labels: maintenance

#366 Document composite:minmax_per_element_operator
  examples/010_harmonic_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/select_indices.py
  tests/basic_workflow_test.py
Labels: documentation, maintenance
