Repository ansys/pydpf-composites, pull requests merged in 2023-11, with the labels that each got.

#374 Update minimum DPF core requirement to 0.8.0
  .ci/minimum_requirements.txt
Labels: maintenance

#384 Add support for plots on reference surfaces
  .github/workflows/ci_cd.yml
  examples/008_assembly_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/layup_info/_reference_surface.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
  tests/data/workflow_example/multiple_time_steps/MatML.xml
  tests/data/workflow_example/multiple_time_steps/Setup/ACPCompositeDefinitions.h5
  tests/data/workflow_example/multiple_time_steps/file.rst
  tox.ini
Labels: enhancement, maintenance

#388 Support section data from RST
  doc/.vale.ini
  doc/source/api/layup_info.rst
  doc/source/index.rst
  doc/source/intro.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/008_assembly_example.py
  examples/011_rst_workflow.py
  examples/099_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/select_indices.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/data/model_with_beams_shells_solids/mixed_model.wbpz
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.acph5
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.engd
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.h5
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.rst
  tests/data/shell_mixed_acp_rst_model/ReadMe.txt
  tests/data/shell_mixed_acp_rst_model/linear_shell_with_MAPDL_sections.cdb
  tests/data/shell_mixed_acp_rst_model/linear_shell_with_MAPDL_sections.h5
  tests/data/shell_mixed_acp_rst_model/linear_shell_with_MAPDL_sections.rst
  tests/data/shell_mixed_acp_rst_model/material.engd
  tests/element_info_test.py
  tests/rst_only_workflow_test.py
Labels: documentation, enhancement, maintenance
