Repository ansys/pydpf-composites, pull requests merged in 2023-02, with the labels that each got.

#194 Add setuptools dependency
  poetry.lock
  pyproject.toml
Labels: maintenance

#204 Add GH action for cleaning stale packages
  .github/workflows/package_cleanup.yml
Labels: maintenance

#206 Remove Python version upper limit on numpy requirement
  poetry.lock
  pyproject.toml
Labels: bug, maintenance

#209 Remove setuptools dependency, unblock newer numpy
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Labels: documentation, maintenance

#197 Use latest container
  .github/workflows/ci_cd.yml
  README.rst
  examples/7_interlaminar_normal_stress_example.py
  examples/dpf_composite_failure_workflow.py
  minimum_requirements.txt
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  src/ansys/dpf/composites/unit_system.py
  tests/basic_workflow_test.py
  tests/conftest.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tox.ini
Labels: maintenance

#208 Update name of input pins
  examples/3_short_fiber_example.py
  examples/dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/basic_workflow_test.py
Labels: maintenance

#207 Time becomes an optional input in the Result Definition
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/result_definition.py
  tests/result_definition_test.py
Labels: enhancement
