Repository ansys/pydpf-composites, pull requests merged in 2023-03, with the labels that each got.

#217 Support scoping by named selections (elemental component sets)
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/result_definition.py
  tests/composite_model_test.py
  tests/data/shell/shell.rst
  tests/result_definition_test.py
Labels: enhancement

#225 Disable the 'force-orphan' option in the doc deployment
  .github/workflows/ci_cd.yml
  README.rst
Labels: documentation, maintenance

#228 Adapting to new PyAnsys actions v4 (main)
  doc/source/conf.py
Labels: bug, documentation

#230 Set env vars for licensing
  .github/workflows/ci_cd.yml
  README.rst
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  tests/conftest.py
  tox.ini
Labels: maintenance
