Repository ansys/pydpf-composites, pull requests merged in 2024-01, with the labels that each got.

#408 Remove obsolet premium context
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  tests/conftest.py
Labels: enhancement

#396 Add convenience function to get ply-wise data
  doc/source/api/index.rst
  doc/source/api/ply_wise_data.rst
  examples/006_filter_composite_data_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/ply_wise_data.py
  tests/ply_wise_data_test.py
Labels: documentation, enhancement

#409 Upload files to unique folder on server to avoid conflicts
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/basic_workflow_test.py
  tests/element_info_output_all_element_types_test.py
  tests/element_info_test.py
Labels: enhancement

#405 New fatigue example
  doc/source/api/ply_wise_data.rst
  examples/006_filter_composite_data_example.py
  examples/012_fatigue_example.py
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/ply_wise_data.py
  tests/ply_wise_data_test.py
Labels: documentation, enhancement, maintenance, dependencies

#414 cicd: update add-license-header hook
  .pre-commit-config.yaml
Labels: maintenance
