Repository ansys/pydpf-composites, pull requests merged in 2024-09, with the labels that each got.

#512 Fix Field Indexer and get_element_indices for layered solids and add example of a thermal analysis
  examples/013_thermal_example.py
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/data/all_element_types/model_with_all_element_types_all_output_1_layer.rst
  tests/data/all_element_types/model_with_all_element_types_all_output_1_layer_material.xml
  tests/element_info_output_all_element_types_test.py
  tests/performance_test.py
Labels: maintenance

#515 v0.6.1: improve field indexer for layered solid elements
  doc/source/conf.py
  examples/013_thermal_example.py
  pyproject.toml
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/data/all_element_types/model_with_all_element_types_all_output_1_layer.rst
  tests/data/all_element_types/model_with_all_element_types_all_output_1_layer_material.xml
  tests/element_info_output_all_element_types_test.py
  tests/performance_test.py
  tests/test_metadata.py
Labels: documentation, maintenance, dependencies

#517 Doc/cyclic symmetry
  doc/source/index.rst
  examples/014_cyclic_symmetry_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/example_helper/__init__.py
Labels: documentation

#519 Doc/revised example 13
  examples/013_thermal_example.py
Labels: documentation

#525 Add and document an [examples] extra requirement
  doc/source/intro.rst
  poetry.lock
  pyproject.toml
Labels: documentation, maintenance, dependencies
