Repository ansys/pydpf-composites, pull requests merged in 2024-08, with the labels that each got.

#501 support of dpf server 9.0 (2025R1 pre0)
  .github/workflows/ci_cd.yml
  doc/source/intro.rst
  tox.ini
Labels: documentation, maintenance

#503 update the lock file
  .github/workflows/ci_cd.yml
  doc/source/intro.rst
  poetry.lock
  tests/test_metadata.py
  tox.ini
Labels: documentation, maintenance, dependencies

#502 bump version 0.7.0dev
  pyproject.toml
  release_checklist.rst
  tests/test_metadata.py
Labels: maintenance

#504 Update conf.py to adapt to new ansys-sphinx-theme
  doc/source/conf.py
Labels: documentation, maintenance
