Repository ansys/pydpf-composites, pull requests merged in 2024-10, with the labels that each got.

#527 Tweak material results example heading
  examples/013_thermal_example.py
Labels: documentation

#533 Remove obsolete constant TEMPERARTURE_COMPONENT
  examples/013_thermal_example.py
  src/ansys/dpf/composites/constants.py
Labels: maintenance

#537 Fix doc upload for v8 actions
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#535 Add note to the examples how to get the input files from a WB project
  examples/001_failure_operator_example.py
  examples/002_sampling_point_example.py
  examples/004_get_material_properties_example.py
  examples/005_get_layup_properties_example.py
  examples/006_filter_composite_data_example.py
  examples/007_interlaminar_normal_stress_example.py
  examples/008_assembly_example.py
  examples/010_harmonic_example.py
  examples/011_rst_workflow.py
  examples/012_fatigue_example.py
  examples/014_cyclic_symmetry_example.py
Labels: maintenance

#538 Update AUTHORS and CONTRIBUTORS.md
  AUTHORS
  CONTRIBUTORS.md
Labels: maintenance
