Repository ansys/pydpf-composites, pull requests merged in 2024-02, with the labels that each got.

#423 Fix vale warnings
  README.rst
  doc/source/intro.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation, maintenance

#427 Feat/add release checklist
  .github/workflows/ci_cd.yml
  doc/source/intro.rst
  release_checklist.rst
  tox.ini
Labels: documentation, enhancement, maintenance

#432 Bump version in main and remove beta specification.
  pyproject.toml
  tests/test_metadata.py
Labels: enhancement, maintenance
