Repository ansys/pydpf-composites, pull requests merged in 2025-03, with the labels that each got.

#557 extend the rst workflow example
  doc/source/conf.py
  doc/source/index.rst
  examples/011_rst_workflow.py
Labels: documentation

#558 Enable mesh property tests
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
  tests/rst_only_workflow_test.py
Labels: maintenance

#560 Improve doc strings in solid_stack_info.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
Labels: maintenance

#559 Dependency maintenance
  .ci/minimum_requirements.txt
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/result_definition.py
Labels: maintenance, dependencies

#555 Feat/postprocessing of lsdyna
  .ci/minimum_requirements.txt
  doc/source/_static/pydpf_composite.css
  doc/source/api/constants.rst
  doc/source/api/layup_info.rst
  doc/source/conf.py
  examples/010_harmonic_example.py
  examples/016_lsdyna_bird_strike.py
  examples/099_dpf_composite_failure_workflow.py
  pyproject.toml
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_element_info.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  src/ansys/dpf/composites/solid_stack_results.py
  tests/composite_model_test.py
  tests/data/lsdyna/basic_shell_model/MatML.xml
  tests/data/lsdyna/basic_shell_model/Setup 1/ACP-Pre.acph5
  tests/data/lsdyna/basic_shell_model/Setup 1/ACPCompositeDefinitions.h5
  tests/data/lsdyna/basic_shell_model/d3plot
  tests/data/lsdyna/basic_shell_model/d3plot01
  tests/data/lsdyna/basic_shell_model/d3plot02
  tests/data/lsdyna/basic_shell_model/file.actunits
  tests/data/lsdyna/basic_shell_model/input.k
  tests/element_info_output_all_element_types_test.py
  tests/element_info_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/lsdyna_workflow_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_solid_stack_test.py
  tests/sampling_point_test.py
  tests/test_data_sources.py
Labels: documentation, enhancement, maintenance
