Repository ansys/pydpf-composites, pull requests merged in 2025-05, with the labels that each got.

#567 update test matrix of the docker containers
  .github/CODEOWNERS
  .github/workflows/ci_cd.yml
  tox.ini
Labels: maintenance

#569 Update poetry lock
  poetry.lock
Labels: maintenance, dependencies

#571 fix(release): use the GITHUB_TOKEN when releasing to GitHub
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#572 Maint/fix release action
  .github/workflows/ci_cd.yml
Labels: maintenance
